.bg-certificacoes {
    background-image:url('../img/interna/certificacoes.png') ;
    padding-bottom: 15em!important;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
  }
  
  .bg-certificacoes-bolinhas {
      background: url(../img/interna/bolinhascertificacoes.png) no-repeat top left;
  
  }
  
  .bg-fundo-certificacoes {
      background-color: #ecebe8;
      position: relative;
      min-height: 1000px;
      float:left;
      width: 100%;
  }
  
  
  .carr-interna-03 {
      position: relative;
  
    .sub-certi {
        font-size: 20px;
        margin-top: -0.4em;
    }
    
    .certi-title {
      font-size: 30px;
      color: #202B4B;
      font-weight: bold;
      line-height: 1.0;
    }
  
      .certi-sub-title {
          font-size: 18px;
          color: #202B4B;
          font-weight: 300;
      }

      .certi-sub-title span {
        font-size: 20px;
        color: #202B4B;
        font-weight: bold;
        padding-top: 2em;
      }
      .accordion-certificacoes {
          max-width: 976px;
          float: right;
          width: 100%;
      }
      
      .text-accordion {
          max-width: 100%;
          font-size: 18px;
          color: #202B4B;
          font-weight: 500;
          padding: 2em;
      }

      .text-accordion span {
        font-size: 20px;
        color: #202B4B;
        font-weight: bold;
        padding-top: 2em;
      }
      .text-accordion a{
        font-size: 18px;
        font-weight: 800;
        color: #202B4B;
      }

      .card-body{
        background: #F8F8F8;
      }
      .card-header {
          background: #fff;
      }
      .btn {
        color: #202B4B;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        text-align: left;
        display: block;
      }
      .seta-seguranca {
        float: right;
      }
      .seta-gestao {
        float: right;
      }
      .seta-sustentabilidade {
        float: right;
      }
}


  
  

@media screen and (min-width: 0px) and (max-width: 759px)  {

  .bg-certificacoes-bolinhas {
    background: none;
  }

  .session-single-01 {
    background-size: 100%!important;
    padding-bottom: 6em!important;

    &.bg-certificacoes {
      background-image: none!important;
    }

    .carr-interna-03 .text-accordion {
      padding: 0;
    }
  }
}