
div.carr-home-01 {
  height: 752px;

  .slick-arrow {
    display: none;
  }

  .container {
    overflow: hidden;
    &.dark {
      h1 {
        color: #202B4B;
      }
    }

    &.light {
      h1 {
        color: #ffffff;
      }

      a {
        background-color: #fff;
        padding: 4px 10px;
        max-width:135px;
      }
    }

    h1 {
      font-size: 60px;
      max-width: 460px;
      font-weight: bold;
      text-transform: uppercase;
      margin:3.7em .5em 0.3em .5em;
      display: block;
    }

    a {
      margin:0 2.4em;
      display: block;
      max-width: 110px;
      color: #202B4B;

      &:hover {
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  div {
    height: 752px;
  }
}


div.session-green {
  background-color: #A4DDE4;
  position: relative;
  min-height: 300px;
  float:left;
  width: 100%;

  .flutuant-title {
    font-size: 30px;
    color: #202B4B;
    font-weight: 400;
    position: relative;
    float: left;
    padding: 0px 60px;
    margin-top: -.7em;
    z-index: 6;
  }
}

.control {
    width: 130px;
    height: 60px;
    background-color: #fff;
    box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.2);
    position: absolute;
    top: -2.6em;
    right: 2.7em;
    overflow: hidden;
    z-index: 4;
    button:focus {outline:0;}

    // .arrow-custom.arrow-right-custom {
    //   right: 2em;
    // }

    // .arrow-custom.arrow-left-custom {
    //   left: 2em;
    // }
  }

div.carr-home-02 {
  width: 600px;
  max-height: 210px;
  background-color: #fff;
  position: relative;
  margin-top: -10em;
  padding: 50px 30px;
  box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.03);
  float: left;

  div.wrap {
  overflow: hidden;
  max-width: 500px;

    div {

       min-height: 90px;

      a {
        color:#202B4B;
        font-weight: bold;
        font-size: 24px;
        max-width: 185px;
        display: inline-block;
        position: relative;
        padding: 0 35px;
        line-height: 1.3em;

        &:before {
          content: ' ';
          height: 30px;
          width: 1px;
          background-color: #D3D3D3;
          position: absolute;
          top: 1em;
          right: 0px;

        }

        &.one-line {
          top: .8em;

          &:after {
            top: .8em;
          }

          &:before {
            top: .3em;
          }
        }

      }
    }
  }
}

div.carr-home-03 {
  max-height: 267px;
  width: 830px;
  float: left;
  background-color: #333333;
  margin-top: -14.8em;
  position: relative;
  left: .5em;
  z-index: 3;

  .control {
    width: 70px;
    right: -2em;
    top: 6.5em;

    .arrow-custom.arrow-left-custom {
      display: none;
    }
  }



  .wrap {
    ul.slick-dots {
        overflow: hidden;
        float: right;
        position: absolute;
        right: 4em;
        bottom: 1em;
      li {
        list-style: none;
        display: inline-block;
        margin:0 .2em;

        &.slick-active {
          button {
            background-color: #333333;
            border: solid 2px #D04327;
            width: 12px;
            height: 16px;
          }
        }

        button {
           border: none;
           text-indent: -500px;
           border-radius: 50px;
           width: 12px;
           height: 12px;
           background-color: #555555;
        }
      }
    }

    .wrap-custom {
      img {
        float: left;
      }

      div {
        float: left;
        max-width: 415px;
        color: #fff;
        padding: 50px 60px;

        h4 {
          font-size: 14px;
          font-weight: 100;
        }

        h3 {
          font-size: 20px;
          font-weight: 500;
          max-width: 300px;
          margin: 1em 0 0 0;
        }

        span {
          display: block;
          margin-bottom: 2em;
        }

        a {
          display: block;
          margin: 1em 0;
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }
}

.carr-home-04 {
  width: 100%;
  margin: 0px auto 70px 0;
  overflow: hidden;
  padding: 240px 0 100px 0;
  position: relative;

  .wrap {
    position: relative;

    div {
      position: relative;
    }
  }

  .mini-wrap {
    width: 1245px;
    margin:0 auto;
    position: relative;
    min-height: 700px;
  }

  .mini-wrap-control {
    width: 1245px;
    margin:0 auto;
    position: absolute;
    bottom: -1em!important;
    top: auto!important;
    right: auto!important;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .control {
    left: 4.5em;
    bottom: 3em!important;
    top: auto!important;
    right: auto!important;
    z-index: 3;
  }

  .videoimg {
    position: absolute !important;
    top: 0em;
    right: 0em;
    z-index: 1;
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &.active {
        z-index: 3;
        opacity: 1;
      }
    }
    img {
      z-index: 2;
      position: relative;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .info {
    position: relative;
    z-index: 2;
    margin-top: 6.9em;
    left: 4.5em;
    float: left;

    h2 {
      font-weight: bold;
      font-size: 144px;
      position: relative;
      float:left;
      clear: both;
      margin-bottom: 0.3em;

      span {
        font-size: 126px;
        display: block;
        position: absolute;
        right: 0.1em;
        top: -0.6em;
      }
    }

    a {
      display: block;
      clear: both;
      max-width: 342px;
      font-size: 18px;
      font-weight: 100;
      color: #202B4B;
      padding:0em 0 1.5em 2.5em;

      &:hover {
        font-weight: 100!important;
      }
    }
  }
}

.session-blog {
  background-color: #ecebe8;
  position: relative;
  min-height: 700px;
  float:left;
  width: 100%;

  .macro-wrap {
    position: absolute!important;
    bottom: 14em;
    .control {

    }
  }



  .container {
    position: relative;

    h2.title {
      font-size: 372px;
      font-weight: bold;
      color: #202B4B;
      position: absolute;
      top:-.65em;
      left:0;
    }

    a.link {
      float: right;
      color: #202B4B;
      font-size: 18px;
      margin: 1.5em 0;
    }
  }
}


.carr-home-05, .carr-home-06 {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;

  .slick-list {
      padding:0 5% 0 0;
      left: 300px;
    }

  div {



    .mini-wrap {
      max-width: 330px;
      max-height: 420px;
      display: inline-block;
      margin: 0px 0em;
    }

    .slick-current {
      margin-left: 0px;
    }

    .info {
      background-color: #fff;
      padding: 35px;

      h3 {
        font-size: 19px;
        font-weight: 100;
        color: #303336;
      }

      p {
        font-size: 14px;
        font-weight: 100;
        color: #7B8591;
      }
    }
  }
}

.sesseion-arr {
  background: #ecebe8 url(../img/home/img-arr.png) no-repeat bottom center;
  min-height: 503px;
  float: left;
  width: 100%;
}
.text-arr {
  font-size: 18px;
  color: #202B4B;
  max-width: 1026px;
  max-height: 850px;
  padding-left: 23.8em;
  margin-top: -29px;
}
.text-arr span {
  font-size: 80px;
  font-weight: bold;
}

.text-donnelley {
  padding-top: 0.3em;
  min-width: 626px;
  font-size: 18px;
  color: #202B4B;
  padding-left: 23.9em;
  padding-right: 22.4em;
  font-weight: 400;
}

.text-donnelley a{
  display: block;
  clear: both;
  font-size: 18px;
  font-weight: 300;
  color: #202B4B;
  padding:2em 0 1.0em 0;
}


.session-conecta {
    background-color: #ecebe8;
    position: relative;
    min-height: 650px;
    float:left;
    width: 100%;

  .text-conecta {
    font-size: 60px;
    color: #202B4B;
    font-weight: bold;
    max-width: 1297px;
    line-height: 1.0;
    padding-left: 1.8em;
  }
}

.session-conecta a{
  display: block;
  clear: both;
  font-size: 18px;
  font-weight: 300;
  color: #202B4B;
  padding:2em 0 1.0em 19em;
}


.sidebar {
  position: absolute;
  display: block;
  right: 2.5em;
  top: 8em;
  z-index: 4;

  div {
    padding-top: 2em;
  }

  a {
    background-position: center center!important;
    margin: 1.2em 0;
    cursor: pointer;
    transition:$transition-style-01;
  }

  &.dark {
    .face { background-image: url('../img/home/iconface1.png') ;}
    .linkedin { background-image: url('../img/home/iconlinkedin1.png');}
    .youtube { background-image: url('../img/home/iconyoutube1.png') ;}
    .instagram { background-image: url('../img/home/iconinsta1.png') ;}
  }

  .face {
    background: url('../img/home/iconface.png') no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: block;
  }

  .linkedin {
    background: url('../img/home/iconlinkedin.png') no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: block;
  }

  .youtube {
    background: url('../img/home/iconyoutube.png') no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: block;
  }

  .instagram {
    background: url('../img/home/iconinsta.png') no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: block;
  }
}

//SÃO 3 BREAKPOINTS QUE VAMOS UTILIZAR
 // sm: 576px,
 // lg: 992px,
 // xl: 1490px
@media screen and (min-width: 760px) and (max-width: 1489px)  {
 
  .session-conecta a {
    max-width: 350px;
    margin: 0 auto;
  }

 div.carr-home-02 {
  width: 100%;

  div.wrap {
    max-width: 100%;
  }
 }

 div.carr-home-04 .mini-wrap-control {
  bottom: -1em!important;
 }

 .session-blog .container h2.title {
  font-size: 264px;
 }

 .carr-home-04 img {
    position: absolute;
    top: 0em;
    right: 1em;
    z-index: 1;
    width: 79%;
}

 div.carr-home-03 .wrap .wrap-custom div {
    max-width: 274px;
  }

 div.carr-home-02 div.wrap {
  max-width:auto;
  width: 100%;
 }

 div.carr-home-03 {
  width: 100%;
  margin-top: 0px;
 }
.session-blog .macro-wrap {
    position: absolute !important;
    bottom: 6em;
    z-index: 4;
}

 div.carr-home-04 {
      margin: 0px auto 0px 0;
          padding: 240px 0 0px 0;
  .mini-wrap-control {
    width: 100%;
    bottom: 1em!important;
  }

  .mini-wrap {
    width: 95%;
  }
 }

 .carr-home-05 div .mini-wrap, .carr-home-06 div .mini-wrap {
    max-width: 92%;
    margin: 0 auto;
    display: block;

    img {
      width: 100%;
    }

 }

  div.session-blog {

    .custom-container {
      padding: 0 2.2em;
    }
  .container {
    padding: 0 2.2em;
    position: relative;
    h2.title {
      font-size:150px;
      position: relative;
    }

    a.link {
      position: absolute;
      top: 4em;
      right: 2.2em;
    }
  }
  .slick-list {
    padding: 0 0 0 0!important;
    left: 0px!important;
  }
 }


 div.sesseion-arr {
  .container {
    width: 100%;
  }

  .text-arr {
        padding-left: 3.8em;
  }

  .text-donnelley {
    width: 100%;
    padding-left: 3.9em;
    padding-right: 2.4em;
  }
 }


 div.session-conecta {
    min-height: 330px;
    .container {
    width: 100%;
    padding: 0 2.2em;
  }
  .text-conecta {
    font-size: 25px;
    text-align: center;
    padding-left: 0;

    br {
      display: none;
    }
  }

  a {
        padding: 2.2em;
        text-align: center;
  }
 }
}



@media screen and (min-width: 0px) and (max-width: 759px)  {

  .flutuant-title {
    display: none;
  }

 div.carr-home-01 {
  width: 100%;

  .container {
    h1 {
      font-size: 35px;
      max-width: 268px;
    }

    a.arrow-right {
          margin: 0 1.5em;
    }
  }
 }

 div.carr-home-02 {
  width: 100%;
  div.wrap div a {
    font-size: 16px;
  }
 }

 div.carr-home-03 {
  width: 100%;
  margin-top: 0px;
    background-color: #333333;

  .control {
    width: 70px;
    right: 0em;
    top: 6.5em;
    z-index: 4;
  }

   .wrap .wrap-custom div {
      background-color: #333333;
      position: relative;
      top: -5px;
   }

 }

 div.carr-home-04 {
  padding-bottom: 0px;
  margin: 0px auto 198px 0;
  padding-left: 15px;
  padding-right: 15px;
  .mini-wrap-control {
    width: 100%;
    bottom: 3em !important;

   .control {
      left: initial!important;
      right:1.5em!important;
    }
  }

  .mini-wrap {
    width: 100%;

    img {
      width: 100%;
      margin-top: 5em;
    }
  }

  .info {
      margin-top: 12.9em;
      left: 2.2em;
    h2 {
      font-size:68px;

      span {
        font-size: 72px;
      }
    }
    a {
      top: 30px;
    }
  }
 }

 div.session-blog {
  .container {
    padding: 0 2.2em;
    position: relative;
    h2.title {
      font-size:150px;
      position: relative;
    }

    a.link {
      position: absolute;
      top: 4em;
      right: 2.2em;
    }
  }
  .slick-list {
    padding: 0 0 0 0!important;
    left: 0px!important;
  }
 }

 div.sesseion-arr {
  background: #ecebe8!important;
  .container {
    width: 100%;
  }

  .text-arr {
        padding-left: 2.2em;
        margin-top: 5px;


        span {
          font-size: 37px!important;
        }
  }

  .text-donnelley {
    width: 100%;
    padding-left: 2.2em;
    padding-right: 2.2em;
    min-width: 0;
  }
 }

 div.session-conecta {
    min-height: 330px;
    .container {
    width: 100%;
    padding: 0 2.2em;
  }
  .text-conecta {
    font-size: 20px;
    text-align: center;
    padding-left: 0;

    br {
      display: none;
    }
  }

  a {
        padding: 2.2em;
        text-align: center;
  }
 }
  .carr-home-05 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    float: none;
  }
  .session-blog .control {
    z-index: 3;
    top: 4em;
  }
  .session-conecta a {
    max-width: 350px;
    margin: 0 auto;
  }

  div.carr-home-03 {
    left: initial;
  }
  
  div.carr-home-02 div.wrap div a {
    padding: 0 15px;
  }

  .carr-home-05 div .mini-wrap {
    margin: 0 auto;
    display: block;
  }

}

