div.carr-home-01 {
  height: 752px;

  .slick-arrow {
    display: none;
  }

  .container {
    overflow: hidden;
    &.dark {
      h1 {
        color: #202B4B;
      }
    }

    &.light {
      h1 {
        color: #ffffff;
      }

      a {
        background-color: #fff;
        padding: 4px 10px;
        max-width:135px;
      }
    }

    h1 {
      font-size: 60px;
      max-width: 460px;
      font-weight: bold;
      text-transform: uppercase;
      margin:3.7em .5em 0.3em .5em;
      display: block;
    }

    a {
      margin:0 2.4em;
      display: block;
      max-width: 110px;
      color: #202B4B;

      &:hover {
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  div {
    height: 752px;
  }
}


div.session-green {
  background-color: #A4DDE4;
  position: relative;
  min-height: 300px;
  float:left;
  width: 100%;

  .flutuant-title {
    font-size: 30px;
    color: #202B4B;
    font-weight: 400;
    position: relative;
    float: left;
    padding: 0px 60px;
    margin-top: -.7em;
  }  
}

.control {
    width: 130px;
    height: 60px;
    background-color: #fff;
    box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.2);
    position: absolute;
    top: -3.6em;
    right: 2.7em;
    overflow: hidden;

    button:focus {outline:0;}

    .arrow-custom.arrow-right-custom {
      right: 2em;
    }

    .arrow-custom.arrow-left-custom {
      left: 2em;
    }
  }

div.carr-home-02 {
  width: 600px;
  max-height: 210px;
  background-color: #fff;
  position: relative;
  margin-top: -10em;
  padding: 50px 30px;
  box-shadow: 10px 10px 51px -15px rgba(0,0,0,0.03);
  float: left;
 
  div.wrap {
  overflow: hidden;
  max-width: 500px;

    div {

       min-height: 90px;

      a {
        color:#202B4B;
        font-weight: bold;
        font-size: 24px;
        max-width: 185px;
        display: inline-block;
        position: relative;
        padding: 0 35px;
        line-height: 1.3em;

        &:before {
          content: ' ';
          height: 30px;
          width: 1px;
          background-color: #D3D3D3;
          position: absolute;
          top: 1em;
          right: 0px;

        }

        &.one-line {
          top: .8em;

          &:after {
            top: .8em;
          }

          &:before {
            top: .3em;
          }
        }

      }
    }
  }
}

div.carr-home-03 {
  max-height: 267px;
  width: 830px;
  float: left;
  background-color: #333333;
  margin-top: -14.8em;
  position: relative;
  left: .5em;

  .control {
    width: 70px;
    right: -2em;
    top: 6.5em;

    .arrow-custom.arrow-left-custom {
      display: none;
    }
  }



  .wrap {
    ul.slick-dots {
        overflow: hidden;
        float: right;
        position: absolute;
        right: 4em;
        bottom: 1em;
      li {
        list-style: none;
        display: inline-block;
        margin:0 .2em;

        &.slick-active {
          button {
            background-color: #333333;
            border: solid 2px #D04327;
            width: 12px;
            height: 16px;
          }
        }

        button {
           border: none;
           text-indent: -500px;
           border-radius: 50px;
           width: 12px;
           height: 12px;
           background-color: #555555;
        }
      }
    }

    .wrap-custom {
      img {
        float: left;
      }

      div {
        float: left;
        max-width: 415px;
        color: #fff;
        padding: 50px 60px;

        h4 {
          font-size: 14px;
          font-weight: 100;
        }

        h3 {
          font-size: 20px;
          font-weight: 500;
          max-width: 300px;
          margin: 1em 0 0 0;
        }

        span {
          display: block;
          margin-bottom: 2em;
        }

        a {
          display: block;
          margin: 1em 0;
          font-size: 12px;
          color: #fff;
        }
      }
    }
  } 
}  

.carr-home-04 {
  width: 100%;
  margin: 0px auto 370px 0;
  overflow: hidden;
  padding: 240px 0 100px 0; 
  position: relative;

  .wrap {
    position: relative;

    div {
      position: relative;
    }
  }

  .mini-wrap {
    width: 1245px;
    margin:0 auto;
    position: relative;
  }

  .mini-wrap-control {
    width: 1245px;
    margin:0 auto;
    position: absolute;
    bottom: -1em!important;
    top: auto!important;
    right: auto!important;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .control {
    left: 4.5em;
    bottom: 3em!important;
    top: auto!important;
    right: auto!important;
    z-index: 3;
  }

  img {
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 1;
  }

  .info {
    position: relative;
    z-index: 2;
    margin-top: 6.9em;
    left: 4.5em;
    float: left;

    h2 {
      font-weight: bold;
      font-size: 144px;
      position: relative;
      float:left;
      clear: both;
      margin-bottom: 0.3em;

      span {
        font-size: 126px;
        display: block;
        position: absolute;
        right: 0.1em;
        top: -0.6em;
      }
    }

    a {
      display: block;
      clear: both;
      max-width: 342px;
      font-size: 18px;
      font-weight: 100;
      color: #202B4B;
      padding:0em 0 1.5em 2.5em;

      &:hover {
        font-weight: 100!important;
      }
    }
  }
}

.session-blog {
  background-color: #ecebe8;
  position: relative;
  min-height: 500px;
  float:left;
  width: 100%;

  .macro-wrap {
    position: absolute!important;
    bottom: 0;
    .control {

    }
  }

  

  .container {
    position: relative;

    h2.title {
      font-size: 372px;
      font-weight: bold;
      color: #202B4B;
      position: absolute;
      top:-.65em;
      left:0;
    }

    a.link {
      float: right;
      color: #202B4B;
      font-size: 18px;
      margin: 1.5em 0;
    }
  }
}


.carr-home-05 {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;

  .slick-list {
      padding:0 5% 0 0;
      left: 300px;
    }

  div {



    .mini-wrap {
      max-width: 330px;
      max-height: 420px;
      display: inline-block;
      margin: 0px 0em;
    }

    .slick-current {
      margin-left: 0px;
    }

    .info {
      background-color: #fff;
      padding: 35px;

      h3 {
        font-size: 19px;
        font-weight: 100;
        color: #303336;
      }

      p {
        font-size: 14px;
        font-weight: 100;
        color: #7B8591;
      }
    }
  }
}

.session-arr {
  background-color: #ecebe8;
  position: relative;
  min-height: 500px;
  padding-top: 10.0em;
  padding-bottom: 50.0em;
  float:left;
  width: 100%;

  .session-title {
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    padding-left: 8.8em;
    margin-top: -535px;
  
  }

  .session-text {
    position: absolute;
    font-size: 18px;
    font-weight: medium;
    padding-left: 39em;
    margin-top: -390px;
    text-align: left;
  }

  .session-button {
    position: absolute;
    padding-left: 44em;
    margin-top: -60px;
  }
  a {
    color:#202B4B;
    font-weight: 300;
    font-size: 16px; 
    list-style: none;
    padding-left: 4em;
  }
  .text-arr {
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    padding-left: 6em;
    padding-top: 3em;
    line-height: 1.2;
  }
  .text-arr-button {
    position: absolute;
    padding-left: 2.3em;
    margin-top: 1.5em;
  }
}