.bg-missao {
  background-image:url('../img/interna/bg-missao.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-rrdnobrasil {
  background-image:url('../img/rrdnobrasil/bg.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-produtoseservicos {
  background-image:url('../img/produtoseservicos/bg-produtos.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-diversidade {
  background-image:url('../img/carreiras/diversidade/bg-diversidade.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-rrdnomundo {
  background-image:url('../img/rrdnomundo/bg.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-trabalheconosco {
  background-image:url('../img/trabalheconosco/bg-trabalheconosco.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-faleconosco {
  background-image:url('../img/faleconosco/bg-faleconosco.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}


.bg-bola {
      background: url('../img/rrdnobrasil/bola.png') no-repeat scroll 10px 200px;
}

.bg-bola-maior {
      background: url('../img/rrdnomundo/bola.png') no-repeat scroll 10px 700px;
}

.bg-bola-right {
        width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
    background: url('../img/produtoseservicos/bola.png') no-repeat right 738px;
}


.bg-bola-topo {
        width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
    background: url('../img/produtoseservicos/bola.png') no-repeat 900px 0px;
}

.bg-bola-faleconosco {
          width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
    background: url('../img/faleconosco/bg.png') no-repeat 900px 0px;
}

.bg-bola-blog {
    width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
    background: url('../img/blog/bola.png') no-repeat 87px 503px;
}

.bg-bola-blog-interna {
    width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
        background: url('../img/blog/interna/bola.png') no-repeat 78px 229px;
}

 .carr-interna-01 {
    position: relative;

    .container-control {
      position: absolute;
      bottom:0em;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 3;


      .control {
        bottom:0em;
        left:50em;
        z-index: 3;
      }

    }

    img {
      float:left;
      padding-right: 3em;
    }

    .info {
      float: left;
      max-width: 400px;

      h3 {
        font-size: 30px;
        font-weight: 800;
        color:#202B4B;
      }
      .valores {
        font-size: 18px;
        font-weight: 500;
        color:#202B4B;
      }
    }
  }

  


//SÃO 3 BREAKPOINTS QUE VAMOS UTILIZAR
 // sm: 576px,
 // lg: 992px,
 // xl: 1490px
@media screen and (min-width: 993px) and (max-width: 1489px)  {
  .session-single-01 {
    background-size: 100%!important;
    padding-bottom: 20em!important;

    &.bg-missao {
      background-image:url('../img/interna/bg-missao-mobile.png')!important;
    }

    .container {
      padding: 0 2em!important;
    }

    .container-info {
      padding: 0 1.5em!important;
    }

    .carr-interna-01 img {
      width: 100%;
      padding-right: 0;
    }

    .container-title {
       margin: 10em auto 4em auto;
    }

    .info {
      margin: 5em 0;
    }
  }
}



@media screen and (min-width: 0px) and (max-width: 992px)  {
  .session-single-01 {
    background-size: 100%!important;
    padding-bottom: 6em!important;

    &.bg-missao {
      background-image:url('../img/interna/bg-missao-mobile.png')!important;
    }

    .container {
      padding: 0 2.2em!important;
    }

    .container-control {
      .control {
        left: initial!important;
      }
    }

    .container-info {
      padding: 0 2.2em!important;
    }

    .carr-interna-01 img {
      width: 100%;
      padding-right: 0;
    }

    .container-title {
       margin: 10em auto 4em auto;
    }

    .info {
      margin: 5em 0;
    }
  }
}