
.bg-bola-agua {
  margin-bottom: 160px;
  h3 {
    font-size: 60px;
    color: #202B4B;
    font-weight: bold;
  }

  p {
     font-size: 18px;
    color: #202B4B;
  }

  .left-txt {
    float: left;
    width: 600px;
    clear: both;
  }

  .right-txt {
    float: right;
     width: 600px;
     clear: both;
  }
}


.bg-bola-selo-2 {
   position: relative;
  h4 {
    color: #202B4B;
    font-size: 153px;
    font-weight: bold;
    position: relative;
    margin-top: -2em;

    span {
        font-size: 100px;
        position: relative;
        top: -.8em;
    }
  }

  .link {
    position: absolute;
    left: 0;
    bottom: 25em;

    a {
      display: block;
      float: none!important;
      margin: 20px 0;
      font-size: 18px;
      text-decoration: none!important;
    }
  }
}

.session-single-01.selo {

  .container {
      h1 {
        font-size: 370px;
        font-weight: bold;
        float: left;
        color: #fff;

        &.second {
          float: right;
          position: relative;
          margin-top: -1em;
        }
      }

      h2 {
        font-size: 370px;
        font-weight: bold;
        float: left;
        color: #fff;
      }

      a {
        float: left;
      }

      .texto {
        float: right;
        max-width: 400px;
        margin-top: 80px;
        padding-left: 45px;
        &.arrow-right-circle::before {

        }
      }

      .video {
         top: -8em;
         left: -3.3em;
         cursor: pointer;
         position: relative;
         z-index: 5;
         float:left;
         overflow: hidden;
        img {
          float: left;
          width: 100%;
          position: relative;
          z-index: 2;

        }

        video {
          width: 107%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;

          &.active {
            z-index: 5;
          }
        }
      }


     
  }
 
}


.bg-verde {
  background-color: #A4DDE4!important;
}


.bg-azul {
  background-color: #EAF8FF!important;
}


.bg-missao {
  background-image:url('../img/interna/bg-missao.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-rrdnobrasil {
  background-image:url('../img/rrdnobrasil/bg.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-produtoseservicos {
  background-image:url('../img/produtoseservicos/bg-produtos.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-diversidade {
  background-image:url('../img/carreiras/diversidade/bg-diversidade.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-rrdnomundo {
  background-image:url('../img/rrdnomundo/bg.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-trabalheconosco {
  background-image:url('../img/trabalheconosco/bg-trabalheconosco.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.bg-faleconosco {
  background-image:url('../img/faleconosco/bg-faleconosco.png') ;
  padding-bottom: 37em!important;
  background-repeat: no-repeat;
  background-position: bottom left;
}


.bg-bola {
      background: url('../img/rrdnobrasil/bola.png') no-repeat scroll 10px 200px;
}

.bg-bola-maior {
      background: url('../img/rrdnomundo/bola.png') no-repeat scroll 10px 700px;
}

.bg-bola-right {
        width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
    background: url('../img/produtoseservicos/bola.png') no-repeat right 738px;
}


.bg-bola-topo {
        width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
    background: url('../img/produtoseservicos/bola.png') no-repeat 900px 0px;
}

.bg-bola-faleconosco {
          width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
    background: url('../img/faleconosco/bg.png') no-repeat 900px 0px;
}

.bg-bola-blog {
    width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
    background: url('../img/blog/bola.png') no-repeat 87px 503px;
}

.bg-bola-blog-interna {
    width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
        background: url('../img/blog/interna/bola.png') no-repeat 78px 229px;
}

.bg-bola-selo {
      width: 100%;
 
    z-index: 4;
    min-height: 1000px;
        background: url('../img/selo/bg.png') no-repeat top right;
}



.bg-bola-selo-2 {
      width: 100%;
 
    z-index: 4;
    min-height: 1000px;
        background: url('../img/selo/selobgagua.png') no-repeat top right;
}


 .carr-interna-01 {
    position: relative;

    .container-control {
      position: absolute;
      bottom:0em;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 3;


      .control {
        bottom:0em;
        left:50em;
        z-index: 3;
      }

    }

    img {
      float:left;
      padding-right: 3em;
    }

    .info {
      float: left;
      max-width: 400px;

      h3 {
        font-size: 30px;
        font-weight: 800;
        color:#202B4B;
      }
      .valores {
        font-size: 18px;
        font-weight: 500;
        color:#202B4B;
      }
    }
  }

  


//SÃO 3 BREAKPOINTS QUE VAMOS UTILIZAR
 // sm: 576px,
 // lg: 992px,
 // xl: 1490px
@media screen and (min-width: 993px) and (max-width: 1489px)  {

  .end-info {
    font-size: 18px;
    color: #202B4B;
    padding-right: 150px;
    float: right;
    width: 100%;
    margin-top: 40px;
}

  .session-single-02 .left-info.left-info-blog .category {
    color: #fff;
    float: right;
    margin-right: 0em;
    margin-top: 55px;
}

  .form-search-blog {
    clear: both;
    top: -3em;
    position: relative;
    max-width: 570px;
}

  .session-single-01.selo .container .texto {
    float: none;
    max-width: 400px;
    margin-top: 145px;
    padding-left: 45px;
    position: relative;
    top: 11px;
    right: 58px;
}


  .session-single-01 {
    background-size: 100%!important;
    padding-bottom: 20em!important;

    &.bg-missao {
      background-image:url('../img/interna/bg-missao-mobile.png')!important;
    }

    .container {
      padding: 0 2em!important;
    }

    .container-info {
      padding: 0 1.5em!important;
    }

    .carr-interna-01 img {
      width: 100%;
      padding-right: 0;
    }

    .container-title {
       margin: 10em auto 4em auto;
    }

    .info {
      margin: 5em 0;
    }
  }
}



@media screen and (min-width: 0px) and (max-width: 992px)  {
.session-single-01.selo .container .texto {
    float: none;
    max-width: 400px;
    margin-top: 145px;
    padding-left: 45px;
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 299px;
}
.session-single-01.selo .container h1 {
    font-size: 178px;
    font-weight: bold;
    float: left;
    color: #fff;
}

.session-single-01.selo .container .video {
    top: -4em;
     left: 0em;
    cursor: pointer;
    position: relative;
    z-index: 5;
    float: left;
    overflow: hidden;
}

.session-single-01.selo .container h1.second {
float: right;
    position: relative;
    margin-top: -1.2em;
    font-size: 98px;
}

.bg-bola-selo {
  background: none;
  min-height: 100px;
}

.bg-bola-agua {
  * {
    width: 100%!important;
  }
}

.bg-bola-selo-2 h4 {
  background: none;
    color: #202B4B;
    font-size: 65px;
    font-weight: bold;
    position: relative;
    margin-top: 0em;

    span {
       font-size: 25px!important;
    }
}

.bg-bola-selo-2 h4 span {
    font-size: 100px;
    position: relative;
    top: -1.8em;
}

.bg-bola-selo-2 .link {
    position: relative;
    left: 0;
    bottom: 0em;
}


  .session-single-01 {
    background-size: 100%!important;
    padding-bottom: 6em!important;

    &.bg-missao {
      background-image:url('../img/interna/bg-missao-mobile.png')!important;
    }

    .container {
      padding: 0 2.2em!important;
    }

    .container-control {
      .control {
        left: initial!important;
      }
    }

    .container-info {
      padding: 0 2.2em!important;
    }

    .carr-interna-01 img {
      width: 100%;
      padding-right: 0;
    }

    .container-title {
       margin: 10em auto 4em auto;
    }

    .info {
      margin: 5em 0;
    }
  }
}