.bg-politica {
    background-image:url('../img/interna/politica.png') ;
    padding-bottom: 37em!important;
    background-repeat: no-repeat;
    background-position: bottom center;
}
  
.bg-politica-bolinhas {
    background: url(../img/interna/bolinhaspolitica.png) no-repeat top left;
}
  
    .bg-fundo-politica {
        background-color: #ecebe8;
        position: relative;
        min-height: 300px;
        float:left;
        width: 100%;
    }

    .content-politica {
        max-width: 960px;
        float: right;
        min-height: 300px;
        padding-left: 50px;
        background: #ECEBE8;
    }
  
  
    .carr-interna-02 {
        position: relative;
  
    .title-politica {
          font-size: 30px;
          color: #202B4B;
          font-weight: bold;
          line-height: 1.0;
    }
  
    .sub-title-politica {
          font-size: 18px;
          color: #202B4B;
          font-weight: 300;
          padding-left: 21em;
          padding-top: 4.2em;
          max-width: 1306px;
    }
      
    a {
        font-size: 18px;
        font-weight: 800;
        color: #202B4B;
    }
}




@media screen and (min-width: 0px) and (max-width: 759px)  {
    .bg-politica-bolinhas {
        background: none;
    }
    .content-politica {
        padding: 0;
    }
  
}