.bg-politica {
    background-image:url('/public/assets/img/interna/politica.png') ;
    padding-bottom: 37em!important;
    background-repeat: no-repeat;
    background-position: bottom center;
}
  
.bg-politica-bolinhas {
    background: url(/public/assets/img/interna/bolinhaspolitica.png) no-repeat top left;
}
  
    .bg-fundo-politica {
        background-color: #ecebe8;
        position: relative;
        min-height: 300px;
        float:left;
        width: 100%;
    }
  
  
    .carr-interna-02 {
        position: relative;
  
    .title-politica {
          position: absolute;
          font-size: 30px;
          color: #202B4B;
          font-weight: bold;
          padding-left: 12.5em;
          line-height: 1.0;
    }
  
    .sub-title-politica {
          position: absolute;
          font-size: 18px;
          color: #202B4B;
          font-weight: 300;
          padding-left: 21em;
          padding-top: 4.2em;
          max-width: 1306px;
    }

    .clique {
        position: absolute;
        padding-top: 13em;
        padding-left: 23.5em;
        min-width: 1300px;
        min-height: 630px;
    }
      
    a {
        font-size: 18px;
        font-weight: 800;
        color: #202B4B;
    }
}


@media screen and (min-width: 993px) and (max-width: 1489px)  {
  .session-single-01 {
    background-size: 100%!important;
    padding-bottom: 20em!important;
    overflow: hidden;

    &.bg-politica {
      background-image:none!important;
    }

    .container {
      padding: 0 2em!important;
      margin: 20em auto 0 auto;
    }

    .container-info {
      padding: 0 1.5em!important;
    }

    .container-title {
       margin: 10em auto 4em auto;
    }

    .info {
      margin: 5em 0;
    }

    .bg-fundo-politica{
        min-height: 500px!important;
    }
    .title-politica{
      margin-left: 9em;
    }
    .sub-title-politica {
        max-width: 1000px!important;
        margin-left: 15em;
        text-align: justify;
    }
    .clique {
        margin: 4em auto 0 17em;
    }
  }
}



@media screen and (min-width: 0px) and (max-width: 992px)  {
  .session-single-01 {
    background-size: 100%!important;
    padding-bottom: 6em!important;
    overflow: hidden;

    &.bg-politica {
      background-image:none!important;
    }

    .container {
      padding: 0 2.2em!important;
      margin-top: 20em;
    }

    .container-control {
      .control {
        left: initial!important;
      }
    }

    .container-info {
      padding: 0 2.2em!important;
    }

    .container-title {
       margin: 10em auto 2em 0;
    }

    .info {
      margin: 5em 0;
    }
    .bg-fundo-politica{
        min-height: 500px!important;
    }
    .title-politica{
      margin-top: -10em;
    }
    .sub-title-politica {
        min-width: 650px!important;
        margin-top: -14em;
        text-align: justify;
        margin: -12em 2em 0 0em;
    }
    .clique {
        margin: -2em auto 0 auto;
        min-width: 650px!important;
    }
    a{
        font-size: 16px;
    }
    .bg-politica-bolinhas{
      background: none;
    }
  }
}