.bg-premio {
  background-image:url('../img/interna/premios.png') ;
  padding-bottom: 17em!important;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bg-premio-bolinhas {
    background: url(../img/interna/bolinhaspremio.png) no-repeat top left;

}

.bg-fundo-premio {
    background-color: #ecebe8;
    position: relative;
    min-height: 1400px;
    float:left;
    width: 100%;
}


.carr-interna-01 {
    position: relative;

    .title {
        font-size: 30px;
        color: #202B4B;
        font-weight: bold;
    }

    .sub-title {
        font-size: 18px;
        color: #202B4B;
        font-weight: 300;
    }
   

    .premio1 {

        .premio1-title {
            
            font-size: 30px;
            color: #202B4B;
            font-weight: bold;
        }

        .premio1-sub-title {
            
            font-size: 18px;
            color: #202B4B;
            font-weight: 300;
        }

        .premio1-sub-title span {
            font-weight: bold;
        }
    }
    .premio1 img{
        display: block;
        margin-bottom: 15px;
        height: auto;
        max-width: 100%;
    }
    .premio2 {
        
        .premio2-title {
            
            font-size: 30px;
            color: #202B4B;
            font-weight: bold;
            
        }

        .premio2-sub-title {
            
            font-size: 18px;
            color: #202B4B;
            font-weight: 300;
        }

        .premio2-sub-title span {
            font-weight: bold;
        }
    }
    .premio2 img{
        display: block;
        margin-bottom: 15px;
        height: auto;
        max-width: 100%;
    }
    .premio3 {
        

        .premio3-title {
            
            font-size: 30px;
            color: #202B4B;
            font-weight: bold;
            
        }

        .premio3-sub-title {
            
            font-size: 18px;
            color: #202B4B;
            font-weight: 300;
        }

        .premio3-sub-title span {
            font-weight: bold;
        }
    }
    .premio3 img{
        display: block;
        margin-bottom: 15px;
        height: auto;
        max-width: 100%;
    }

    .premio4 {

        .premio4-title {
            font-size: 30px;
            color: #202B4B;
            font-weight: bold;
        }

        .premio4-sub-title {
            font-size: 18px;
            color: #202B4B;
            font-weight: 300;
        }

        .premio4-sub-title span {
            font-weight: bold;
        }
    
    }
}

@media( min-width: 759px) {
    .premio1-title, .premio1-sub-title, .premio2-title, .premio2-sub-title, .premio3-title, .premio3-sub-title {
        padding-left: 256px;
    }
}
  
  
  
@media screen and (min-width: 0px) and (max-width: 759px)  {
    .bg-premio-bolinhas { 
        background: none;
    }

    .session-single-01 {
        background-size: 100%!important;
        padding-bottom: 6em!important;

        &.bg-premio {
        background-image:none!important;
        }
        .premio1 > img{
            display: none;
        }

        .premio2 > img{
            display: none;
        }
        .premio3 > img{
            display: none;
        }

        .bg-premio-bolinhas{
            background: none;
        }
    }

}