.session-single-01 {
  background-color: #ECEBE8;
  min-height: 500px;
  float: left;
  width: 100%;
  padding-bottom: 5em;
  
  .container-info {
    padding-left: 8.5em!important;
  }

  .container-title {
    margin: 12em auto 4em auto;

    h1 {
      font-size: 80px;
      font-weight: bold;
      color:#202B4B;
      margin-left: -.1em;
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
      color:#202B4B;
      margin: 1em 0em;
    }
  }
}