.menor {
  font-size: 54px!important;
}

.width60 {
  width: 70%!important;
  position: relative;
}

.container-negativo {
  position: relative;
  top: -30em;
}

.lista {
  float: left;
  width: 560px;
}
.lista p {
  float: left;
  width: 50%;
}

.bt-red {
  color: #fff;
  font-size: 18px;
  background: #D33A52;
  padding: 10px 50px;
  display: inline-block;
  font-weight: bold;


  &:hover {
    color: #fff;
  }
}
.bt-blue {
  color: #fff;
  font-size: 18px;
  background: #202B4B;
  padding: 10px 50px;
  display: inline-block;
 font-weight: bold;

  &:hover {
    color: #fff;
  }
}

.div-info {
  float: left;
  clear: both;
  padding: 20px;
  width: 600px;
}

.session-single-01 {
  background-color: #ECEBE8;
  min-height: 500px;
  float: left;
  width: 100%;
  padding-bottom: 5em;
  
  .container-info {
    padding-left: 8.5em!important;
  }

  .container-title {
    margin: 12em auto 4em auto;

    h1 {
      font-size: 80px;
      font-weight: bold;
      color:#202B4B;
      margin-left: -.1em;
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
      color:#202B4B;
      margin: 1em 0em;
    }
  }
}

.session-single-02 {
  background-color: #ECEBE8;
  min-height: 500px;
  float: left;
  width: 100%;
  padding-bottom: 5em;
  position: relative;

  .bg-cima {
    width: 100%;
    position: absolute;
    z-index: 4;
    min-height: 1000px;
  }

  p {
    font-size: 18px;
    color: #202B4B;
  }

  .left-info {
    max-width: 350px;
        min-height: 655px;
  }

  .right-info {
    max-width: 350px;
    float: right;
  }

  .carr-interna-04 {
    left: 0em;
    position: relative;
    float: left;
    width:680px;
    margin-bottom: 2em;
    .control {
      top: 0.4em;
      left: 20.7em;
    }

     .container-info {
      padding-left: 0px!important;
      padding-top: 30px;
     }
  }

  .carr-interna-01{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    max-width: 60%;
    min-width: 60%;

    &.left {
      left:0px;
      right: initial!important;
    }

    .container {
       max-width: initial!important;
    }

    .container-info {
      padding-left: 0em!important;
    }

    
  }
  
  .container-info {
    padding-left: 8.5em!important;
  }

  .container-title {
    margin: 12em auto 4em auto;
    position: relative;
    z-index: 8;
    overflow: hidden;
    clear: both;

    h1 {
      font-size: 80px;
      font-weight: bold;
      color:#202B4B;
      margin-left: -.1em;
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
      color:#202B4B;
      margin: 1em 0em;
    }
  }
}



//SÃO 3 BREAKPOINTS QUE VAMOS UTILIZAR
 // sm: 576px,
 // lg: 992px,
 // xl: 1490px
@media screen and (min-width: 993px) and (max-width: 1489px)  {
   .div-info {
      width: 100%!important;
      padding: 20px 0 0 0px!important;
    }

    .lista p {
  float: left;
  width: 100%;
}

.width60 {
  width: 100%!important;
  position: relative;
}

.container-negativo {
  position: relative;
  top: 0em!important;
}


  div.session-single-02 {
    background-size: 100%!important;
    padding-bottom: 20em!important;

    &.bg-missao {
      background-image:url('../img/interna/bg-missao-mobile.png')!important;
    }

    .left-info {
      max-width: 100%;
      min-height: 20px!important;
    }
    .right-info {
      max-width: 100%;
    }

    .bg-bola, .bg-bola-maior {
      background-image: none!important;
    }

    .container {
      padding: 0 2em!important;
    }

    div.container-title-2 {
      margin-top: 4em;
    }

    .container-info {
      padding: 0 1.5em!important;
    }

    .carr-interna-01 {
      position: relative!important;
      max-width: initial!important;

      div.container-info {
      padding-left: 1.5em!important;
      }
    }
    .carr-interna-01 img,  .carr-interna-04 img  {
      width: 100%;
      padding-right: 0;
      
    }

    .carr-interna-04 {
      width: 100%!important;
    }

    .container-title {
       margin: 10em auto 4em auto;
    }

    .info {
      margin: 5em 0;
    }
  }
}



@media screen and (min-width: 0px) and (max-width: 992px)  {
  .div-info {
      width: 100%!important;
       padding: 20px 0 0 0px!important;
    }
    .lista p {
  float: left;
  width: 100%;
}

.width60 {
  width: 100%!important;
  position: relative;
}

.container-negativo {
  position: relative;
  top: 0em!important;
}
  div.session-single-02 {
    background-size: 100%!important;
    padding-bottom: 6em!important;

    &.bg-missao {
      background-image:url('../img/interna/bg-missao-mobile.png')!important;
    }

    

    div.container-title-2 {
      margin-top: 4em;
    }
    .left-info {
      max-width: 100%;
        min-height: 20px!important;
    }

    .right-info {
      max-width: 100%;
    }
    .bg-bola, .bg-bola-maior {
      background-image: none!important;
    }

    .container {
      padding: 0 2.2em!important;
    }

    .container-control {
      .control {
        left: initial!important;
      }
    }

    .container-info {
      padding: 0 2.2em!important;
    }

    .carr-interna-04 {
      width: 100%!important;
    }

    .carr-interna-01 {
      position: relative!important;
      max-width: initial!important;

      .container-info {
      padding-left: 1.5em!important;
      }
    }

    .carr-interna-01 img, .carr-interna-04 img  {
      width: 100%;
      padding-right: 0;
  
    }

    .container-title {
       margin: 10em auto 4em auto;
    }

    .info {
      margin: 5em 0;
    }
  }
}